<script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js"></script>

<style>
    #app {
        display: flex;
        box-sizing: border-box;
        justify-content: space-around;
    }

    .demo {
        height: 100px;
        width: 100px;
        background-color: grey;
    }
</style>

<div id="app">
    <div class="demo" :style="{backgroundColor:cor}"></div>
    <div class="demo" :style="meuEstilo"></div>
    <div class="demo"></div>
    <hr>
    <input type="text" name="" id="" v-model="cor">
    <input type="text" name="" id="" v-model="largura">

</div>

<script>
    new Vue({
        el: "#app",
        data: {
            cor: 'red',
            largura: '100'
        },
        computed: {
            meuEstilo() {
                return {
                  width: this.largura + "px"
                }
            }
        }

    })

</script>